body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 250px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu{
    float: left;
    padding-left: 250px;
}
.menu li{
   float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.menu li a{
    transition: all 0.5s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: orange;
    
}
.menu li a:active{
    transform: scale(1.1);
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes tittlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.tittle__container input{
    transition: all 0.2s;
    transform: scale(1.0);
}
.tittle__container input:hover{
    background: #344051;
    color: white;
}
.tittle__container input:active{
    transform: scale(1.1);
}
main {
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.png) center/cover no-repeat;
}
.tittle__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: tittlemove 1s ease forwards;
    -o-animation: tittlemove 1s ease forwards;
    animation: tittlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
.tittle__container h1{
    font-size: 40px;
    font-weight: bold;
}
.tittle__container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}
.tittle__container input{
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 13px;
    margin: 50px 14px 0px 14px;
}
.info h2{
    text-align: center;
 color: #263244;
 margin: 110px 0px 30px 0px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.cherta {
    margin: 30px 53% 50px 47%;
}
.ava {
    margin: 0px 57% 30px 43%;
}
.info h5 {
    color: #263244;
    float: left;
    margin: 0px 400px 30px 400px;
}
.rezume {
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 13px;
    margin: 0px 57% 100px 43%;
}
.info input{
     transition: all 0.2s;
    transform: scale(1.0);
}
.info input:hover{
    background: #344051;
    color: white;
}
.info input:active{
    transform: scale(1.1);
}
.naviki h2{
    text-align: center;
    color: #2c384a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
} 
.naviki {
    background: url(../img/bg2.png) 90% 100%/auto 85% no-repeat;
}
.cherta3{
    margin: 30px 53% 50px 47%;
}
.first{
    float: left;
    width: 10px 50px 10px 50px;
    text-align: center;
    color: #3f495a;
}
.second{
    float: left;
    width: 10px 50px 10px 50px;
    text-align: center;
    color: #3f495a;
}
.third{
    float: left;
    width: 300;
    text-align: center;
    color: #3f495a;
}
.four{
    float: left;
    width: 300;
    text-align: center;
    color: #3f495a;
}
.naviki h3{
    color: #cf7600;
    font-size: 16px;
}
}
.cases h2{
    text-align: center;
    color: #2c384a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
}
.chertadva{
    margin: 30px 53% 50px 47%;
}
.podchertoy {
    color: #263244;
    float: left;
    margin: 0px 400px 30px 400px;
}
.projects {
    margin: 0px 400px 30px 400px;
    color: #263244;
}
.money h2{
    text-align: center;
    color: #2c384a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
}
.money h3{
    margin: 50px 450px 130px 450px;
    color: #2c384a;
    text-transform: uppercase;
    font-size: 20;
}
.money select{
    font-weight: bold;
    font-size: 16px;
    display: block;
    position: static;
    margin: 0px 43% 0px 53%;
    box-sizing: border-box;
    border: 3px solid #eeeeee;
    border-radius: 20%;
    margin: 0;
    padding: .6em 1.4em .5em .8em; width: 70%;
    font-family: serif;
    margin-left: 300px;
}

.statics {
    background: url(../img/bg3.png)  100% 100%/auto 85% repeat;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.statics h2{
    text-align: center;
    text-transform: uppercase;
    color: #2c384a;
    font-weight: bold;
    font-size: 35px;
}
.cherta4{
    padding: 10px 55% 10px 45%;
}
.happycl{
    float: left;
    text-align: center;
    width: 50px 50px 100px 50px;
    margin: 10px 50px 10px 25%px;
    color: #2c384a;
}
.hours {
    float: left;
    text-align: center;
    width: 100px;
    margin: 10px 50px 10px 25%px;
    color: #2c384a;
}
.projects {
    float: left;
    text-align: center;
    width: 50px 50px 100px 25%px;
    margin: 10px 0px 10px 25%px;
    color: #2c384a;
}
.nagrad {
    float: left;
    text-align: center;
    width: 50px 50px 100px 50px;
    margin: 10px 50px 10px 25%px;
    color: #2c384a;
}
.otzivi h2{
    text-align: center;
    text-transform: uppercase;
    color: #2c384a;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 53% 2px 47%;
}
.chertapyat{
    padding: 30px 50% 50px 50%;
}
.otziv{
    border-radius: 50%;
    margin: 30px 50% 30px 50%;
}
.otzivi{
    margin-left: 50%;
    text-align: center;
    color: #2c384a
}
.contacts{
    background: url(../img/%D0%A4%D0%BE%D0%BD.png);
    color: #fff;
}
.contacts h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    margin: 20px 53% 2px 47%;
    color: #fff;
}


